@page "/fetchdata"
@using PortfolioRisk.Core

<h1>Fetch Data</h1>

@if (ApplicationState.PortfolioAnalyzer == null
    || ApplicationState.PortfolioAnalyzer.TimeSeries == null)
{
    <button type="button" class="btn btn-primary" @onclick="FetchAndRun">Fetch</button>
}
else
{
    // Display time series
    <CartesianChart Series="Series"/>
}

<p>@_errorMessage</p>

@code {
    #region View Properties
    private string _errorMessage;
    #endregion

    #region Events
    protected override void OnInitialized()
    {
        ApplicationState.RefreshConfig();
        ApplicationState.RefreshConfig();
    }
    #endregion

    #region Methods
    private void FetchAndRun()
    {
        AnalysisConfig config = ApplicationState.Config;
        if (ApplicationState.PortfolioAnalyzer != null) return;
        
        _errorMessage = string.Empty;
        // Check for missing inputs parameters
        if (config.ContainsMissingValue())
        {
            Console.WriteLine("Invalid command line format.");
            return;
        }
        // Normalize weights
        config.NormalizeWeights();
            
        try
        {
            ApplicationState.PortfolioAnalyzer = new PortfolioAnalyzer();
            ApplicationState.PortfolioAnalyzer.Stage1(ApplicationState.Config);
        }
        catch (Exception e)
        {
            _errorMessage = "An error occured during analysis.\n";
            _errorMessage += e.Message;
        }
    }
    #endregion
}