@page "/simulate"
@using PortfolioRisk.Core

<h1>Simulate</h1>

@if (ApplicationState.PortfolioAnalyzer == null
    || ApplicationState.PortfolioAnalyzer.TotalReturns == null)
{
    <button type="button" class="btn btn-primary" @onclick="RunStage2">Simulate</button>
}
else
{
    <p>Simulation is finished.</p>
}

<p>@_errorMessage</p>

@code {
    #region View Properties
    private string _errorMessage;
    #endregion

    #region Methods
    private void RunStage2()
    {
        AnalysisConfig config = ApplicationState.Config;
        if (ApplicationState.PortfolioAnalyzer == null) return;
        
        try
        {
            ApplicationState.PortfolioAnalyzer.Stage2();
        }
        catch (Exception e)
        {
            _errorMessage = "An error occured during simulation.\n";
            _errorMessage += e.Message;
        }
    }
    #endregion
}