@page "/fetchdata"
@using PortfolioRisk.Core

<h1>Fetch Data</h1>

@if (PortfolioBuilder.PortfolioAnalyzer == null
    || PortfolioBuilder.PortfolioAnalyzer.TimeSeries == null)
{
    <button type="button" class="btn btn-primary" @onclick="FetchAndRun">Fetch</button>
}
else
{
    // Display time series
}

<p>@_errorMessage</p>

@code {
    #region View Properties
    private string _errorMessage;
    #endregion

    #region Methods
    private void FetchAndRun()
    {
        AnalysisConfig config = PortfolioBuilder.Config;
        if (PortfolioBuilder.PortfolioAnalyzer != null) return;
        
        _errorMessage = string.Empty;
        // Check for missing inputs parameters
        if (config.ContainsMissingValue())
        {
            Console.WriteLine("Invalid command line format.");
            return;
        }
        // Normalize weights
        config.NormalizeWeights();
            
        try
        {
            PortfolioBuilder.PortfolioAnalyzer = new PortfolioAnalyzer();
            PortfolioBuilder.PortfolioAnalyzer.Stage1(PortfolioBuilder.Config);
        }
        catch (Exception e)
        {
            _errorMessage = "An error occured during analysis.\n";
            _errorMessage += e.Message;
        }
    }
    #endregion
}