@page "/"
@using PortfolioRisk.Core

<EditForm Model="@Config" OnValidSubmit="@HandleValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    
    <h1 class="text-center">History Time Range</h1>
    <p class="text-center"><InputDate @bind-Value="Config.StartDate" />-<InputDate @bind-Value="Config.EndDate" /></p>

    <InputNumber id="name" @bind-Value="Config.TotalAllocation" />

    <button type="submit">Submit</button>
</EditForm>

@code{
    private AnalysisConfig Config = new();
    
    private void HandleValidSubmit()
    {
        // Process the valid form
    }
}