@page "/report"
@using PortfolioRisk.Core
@using PortfolioRisk.Core.DataSourceService
@using PortfolioBuilderWebApp.Provider

<h1>Report</h1>

@if (PortfolioBuilder.PortfolioAnalyzer != null
    && PortfolioBuilder.PortfolioAnalyzer.TimeSeries != null
    && PortfolioBuilder.PortfolioAnalyzer.TotalReturns != null)
{
    <button type="button" class="btn btn-primary" @onclick="RunStage3">Generate Report</button>
}
else if(PortfolioBuilder.Report != null)
{
    <div>@PortfolioBuilder.Report.BuildSummaryText()</div>
}

<p>@_errorMessage</p>

@code {
    #region View Properties
    private string _errorMessage;
    #endregion

    #region Methods
    private void RunStage3()
    {
        AnalysisConfig config = PortfolioBuilder.Config;
        if (PortfolioBuilder.PortfolioAnalyzer == null) return;
        
        try
        {
            YahooFinanceHelper.FetchUrlTextOverride = YahooFinanceTunnel.TunnelNoCors;
            PortfolioBuilder.Report = PortfolioBuilder.PortfolioAnalyzer.Stage3(config);
        }
        catch (Exception e)
        {
            _errorMessage = "An error occured during simulation.\n";
            _errorMessage += e.Message;
        }
    }
    #endregion
}